.level2 h1 { font-size: 2.0em; }
.reveal pre code {
	padding: 0;
}
.reveal table thead th {
	font-weight: 700;
}
.reveal table {
	display: inline-block;
	text-align: center;
}

.reveal pre {
	box-shadow : 0px 0px 50px rgba(1.0, 1.0, 1.0, 0.3);
}