img[src*="figures/factory.png"],
img[src*="figures/eight.png"],
img[src*="figures/visualise_boids.png"],
img[src*="figures/tdd.png"] {
    max-width: 500px;
    vertical-align: middle;
    padding-left: 1em;
}

img[src*="figures/builder.png"] {
    max-width: 280px;
    vertical-align: middle;
    padding-left: 1em;
}

.figure .caption {
    font-size: 90%;
    font-style: italic;
    padding-left: 1em;
    padding-bottom: 2em;
}

article ul, article ol {
    padding-left: 1em;
}

article ul ul, article ol ul {
    padding-left: 1em;
}