.DS_Store
lecture.pdf
reveal/assets
reveal/index.html
assets/*.png
assets/*.pdfassets/*.png
assets/*.pdfassets/*.png
assets/*.pdfassets/*.png
assets/*.pdfassets/*.png
assets/*.pdfassets/*.png
assets/*.pdfassets/*.png
assets/*.pdfassets/*.png
assets/*.pdf
