
<footer class="wrapper clearfix">

	{% if myucl is defined %}
		<article class="block-myucl">
			<h2>{{myucl.title}}</h2>
			<ul>
			{% for item in myucl.links %}
			<li><a href="{{item.link}}">{{item.text}}</a></li>
			{% endfor %}
			</ul>
		</article>
	{% endif %}

	{% if findfast is defined %}
	<article class="block-finditfast1">
		<h2>{{findfast.title }}</h2>
		<ul>
			{% for fast in findfast.links %}
			<li><a href="{{fast.link}}">{{fast.text}}</a></li>
			{% endfor %}
		</ul>
	</article>
	{% endif %}

	{% if d.findfast is defined %}
	<article class="block-finditfast2">
		<h2>{{d.findfast[1].title}}</h2>
		<ul>
			{% for fast in d.findfast[1].links %}
			<li><a href="{{fast.link}}">{{fast.text}}</a></li>
			{% endfor %}
		</ul>

	</article>
	{% endif %}

	<hr>

	<p>University College London,&nbsp;Gower Street,&nbsp;London,&nbsp;WC1E 6BT&nbsp;Tel:&nbsp;+44&nbsp;(0)&nbsp;20 7679 2000</p>

	<p id="footer-links">Copyright © 2013 UCL <a href="http://www.ucl.ac.uk/disclaimer/">Disclaimer</a> | <a href="#">Freedom of Information</a> | <a href="http://www.ucl.ac.uk/accessibility/">Accessibility</a> | <a href="http://www.ucl.ac.uk/privacy">Privacy</a> | <a href="http://www.ucl.ac.uk/cookies">Cookies</a> | <a href="{{contact}}">Contact Us</a></p>

</footer>

