{% if masthead is defined %}
<nav id="global-masthead">

	<div class="wrapper clearfix">

		<div id="global-search">
			<form action="#" method="get">
				<!--
				<div class="search-type">
					<input type="radio" id="ucl-site" name="operation" value="1" checked="checked">
					<label for="ucl-site" class="site">Site</label>
					<input type="radio" id="ucl-search" name="operation" value="2">
					<label for="ucl-search" class="staff">Directory</label>
				</div>
				-->
				<div id="searchform">
					<input type="search" placeholder="Search UCL websites, people, and more" id="search" value="">
				</div>

				<input type="submit" name="sumbit" value="Go" class="btn search" />
			</form>


		</div>

		<ul id="audiences" class="m-clear">
			{% for item in masthead %}
			<li><a href="{{item.link}}">{{item.text}}</a></li>
			{% endfor %}
		</ul>
	</div>

</nav>
{% endif %}