<script src="/js/lib/modernizr-custom.js"></script>

<script>
	var cuttingTheMustard = document.querySelector && window.localStorage && window.addEventListener;

	Modernizr.load({
		//cutting the mustard as used by the BBC
		test : cuttingTheMustard
		//if old browser load the shiv
		,nope : [
			'//static.ucl.ac.uk/js/html5.js'
			,'{{siteroot}}/js/lib/respond.min.js'
		]
	});
	//set conditional assets for main.js
	var globalSiteSpecificVars = {
		pathToJquery: 'http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min'
		,googleAnalyticsIdsArray: ['UA-16583269-1']//specify site specific id's NOT UCL generic UA-943297-1
	}
	if(cuttingTheMustard){
		globalSiteSpecificVars.pathToJquery = "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min";
	}
</script>

<script src="{{siteroot}}/js/lib/require.min.js"></script>
<script src="{{siteroot}}/js/main.js"></script>
<script>
	require.config({
	    baseUrl: "{{siteroot}}/js/lib",
	    paths: {
	    	app: '../app'
	    }
	})
	require(["app/general"]);//load the default stuff
</script>