<!-- social meta -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@uclnews">
<meta name="twitter:title" content="UCL - London's Global University">
<meta name="twitter:description" content="UCL (University College London) is London's leading multidisciplinary university, with 8,000 staff and 25,000 students.">
<meta name="twitter:creator" content="@UCLWAMS">
<meta name="twitter:image:src" content="http://www.ucl.ac.uk/visual-identity/logos/standalone.png">
<meta property="og:image" content="http://www.ucl.ac.uk/visual-identity/logos/standalone.png"/>
<meta property="og:title" content="UCL - London's Global University"/>
<meta property="og:url" content="http://www.ucl.ac.uk"/>
<meta property="og:site_name" content="UCL"/>
<meta property="og:description" content="UCL (University College London) is London's leading multidisciplinary university, with 8,000 staff and 25,000 students."/>
<meta property="og:type" content="website"/> 
<meta property="og:profile_id" content="uclofficial"/>
<!-- end social meta -->