{% macro bashfile(file, execute=True) %}
{% if ".ipynb" in s.output_name() %}
``` python
%%bash
{{d['python/'+file+'|idio|t']}}
```
{% else %}
``` python
{% if execute==True %}
{{d['python/'+file+'|idio|bash']}}
{% else %}
{{d['python/'+file+'|idio|t']}}
{% endif %}
```
{% endif %}
{% endmacro %}
