{% macro bashfile(file) %}
{% if ".ipynb" in s.output_name() %}
``` python
%%bash
{{d['python/'+file+'|idio|t']}}
```
{% else %}
``` python
{{d['python/'+file+'|idio|bash']}}
```
{% endif %}
{% endmacro %}
