{% macro bashfile(session,file) %}
{% if ".ipynb" in s.output_name() %}
``` python
%%bash
{{d['session'+session+'/python/'+file+'|idio|t']}}
```
{% else %}

``` bash
{{d['session'+session+'/python/'+file+'|idio|t']}}
```

```
{{d['session'+session+'/python/'+file+'|idio|bash']}}
```
{% endif %}
{% endmacro %}
