{% set notebook = ".ipynb" in s.output_name() %}
{% set reveal = "slides" in s.output_name() %}
{% from 'macros/bashfile.jinja' import bashfile with context -%}
{% from 'macros/notebookfile.jinja' import notebookfile with context -%}
{% from 'macros/pyfrag.jinja' import pyfrag with context -%}
