{% macro notebookfile(file) %}
{% extension = file.split('.')[1] %)
{% if extension == 'py':
     lang='python'
   elif extension == 'md':
     lang='markdown'
   elif extension == 'sh':
     lang='bash'
   elif extension == 'yaml':
     lang='yaml'
%}
{% if ".ipynb" in s.output_name() %}
``` python
%%writefile {{file}}
{{d['python/'+file+'|idio|t']}}
```
{% else %}
{{file}}:
{% if lang != markdown %}
``` {{lang}}
{% endif %}
{{d['python/'+file+'|idio|t']}}
```
{% endif %}
{% endmacro %}
