{% macro notebookfile(file) %}
{% if ".ipynb" in s.output_name() %}
``` python
%%writefile {{file}}.py
{{d['python/'+file+'.py|idio|t']}}
```
{% else %}
{{file}}.py:
``` python
{{d['python/'+file+'.py|idio|t']}}
```
{% endif %}
{% endmacro %}
