{% macro notebookfile(session,file) %}
{% set extension = 'py'  %}
{% if extension == 'py' %}
{% set lang='python' %}
{% elif extension == 'md' %}
{% set lang='markdown' %}
{% elif extension == 'sh' %}
{% set lang='bash' %}
{% elif extension == 'yaml' %}
{% set lang='yaml' %}
{% endif %}
{% if ".ipynb" in s.output_name() %}
``` python
%%writefile {{file}}
{{d['session'+session+'/python/'+file+'|idio|t']}}
```
{% else %}
{{file}}:
{% if lang != markdown %}
``` {{lang}}
{% endif %}
{{d['session'+session+'/python/'+file+'|idio|t']}}
```
{% endif %}
{% endmacro %}
