{% macro pyfrag(session, file, segment, execute=True, check_errors=True) %}
{% if ".ipynb" in s.output_name() %}
``` python
{{d['session'+session+'/python/'+file+'.py|idio|t'][segment]}}
```
{% else %}
``` python
{% if execute %}
{% if check_errors %}
{{d['session'+session+'/python/'+file+'.py|idio|pycon'][segment]|assert_does_not_contain("Error")}}
{% else %}
{{d['session'+session+'/python/'+file+'.py|idio|pycon'][segment]}}
{% endif %}
{% else %}
{{d['session'+session+'/python/'+file+'.py|idio|t'][segment]}}
{% endif %}
```
{% endif %}
{% endmacro %}
